<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Block070.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>CallBlocker01 copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>CallBlocker01.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CallBlocker02 copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>CallBlocker02.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CallBlocker03 copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>CallBlocker03.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>CallBlocker04 copy copy copy copy 2 copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>CallBlocker04 copy copy copy copy 2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>CallBlocker04 copy copy copy copy copy 2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>CallBlocker04 copy copy copy copy copy 3.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>CallBlocker04 copy copy copy copy copy 4.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>CallBlocker04 copy copy copy copy copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>CallBlocker04 copy copy copy copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>CallBlocker04 copy copy copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>CallBlocker04 copy copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>CallBlocker04 copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>CallBlocker04.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>CallBlocker05.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>CallBlocker06.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>CallBlocker07.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>CallBlocker08.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>CallBlocker09.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CallBlocker10.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Rx (Playground).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SnapKitPlayground (Playground).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C2B633C2D0D8F0B00FC066A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C2B63E72D0D951A00FC066A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C2B63FF2D0D986C00FC066A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C2B64132D0D993100FC066A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C2B64262D0D99CF00FC066A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C2B64392D0D9ACB00FC066A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C2B64422D0D9ACC00FC066A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C2B644B2D0D9ACE00FC066A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C2B64542D0D9ACE00FC066A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C2B645D2D0D9ACF00FC066A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C2B64662D0D9ACF00FC066A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
